/* Propiedad general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  font-size: 20px;
}

/* Google Fonts */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body {
  background-color: rgba(255, 255, 255, 0.873);
}

@keyframes colorh1 {
  0% {
    color: rgba(174, 66, 20, 0.608);
  }
  50% {
    color: rgba(174, 66, 20, 0.604);
  }
  75% {
    color: rgba(174, 66, 20, 0.434);
  }
  100% {
    color: rgba(174, 66, 20, 0.367);
  }
}
header {
  background-color: rgba(255, 255, 255, 0.873);
}
header nav {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header nav h1 {
  color: rgba(174, 66, 20, 0.367);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  display: inline;
  margin-left: 10px;
  padding: 5px;
  animation-name: colorh1;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
}
header nav h1 .span {
  font-weight: bold;
}
header nav ul li a {
  color: rgba(174, 66, 20, 0.367) !important;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
}

.grid-container-contacto {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 100px 500px;
  gap: 25px;
}
.grid-container-contacto .item-10 h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-left: 70px;
  margin-top: 10px;
  color: rgba(174, 66, 20, 0.367);
}
.grid-container-contacto .item-11 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-top: 0px;
  padding-left: 40px !important;
}
.grid-container-contacto .item-11 form label {
  color: rgba(174, 66, 20, 0.367);
}
.grid-container-contacto .item-11 .boton {
  padding: 5px;
  background-color: white;
  color: rgba(174, 66, 20, 0.367);
  font-family: "Roboto", sans-serif;
  font-family: 1em;
  border-radius: 5px;
  border: 1px solid rgba(174, 66, 20, 0.367);
  box-shadow: 0px 4px 0px rgba(174, 66, 20, 0.367);
  box-shadow: -5px 4px 11px -4px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: -5px 4px 11px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -5px 4px 11px -4px rgba(0, 0, 0, 0.45);
}
.grid-container-contacto .item-11 .bordes-form {
  border-radius: 5px;
  border: 1px solid rgba(174, 66, 20, 0.367);
  box-shadow: -5px 4px 11px -4px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: -5px 4px 11px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -5px 4px 11px -4px rgba(0, 0, 0, 0.45);
}
.grid-container-contacto .item-12 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-container-contacto .item-12 .map {
  width: 700px;
  padding-top: 30px;
}

main .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 250px 250px;
  row-gap: 5px;
  column-gap: 50px;
  margin-top: 50px;
}
main .item-1 {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-left: 170px;
}
main .item-1 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: rgba(174, 66, 20, 0.367);
}
main .item-2 {
  grid-column: 1/2;
  grid-row: 2/4;
  margin-left: 20px;
}
main .item-2 img {
  width: 100%;
  box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
}
main .item-3 {
  grid-column: 2/3;
  grid-row: 2/4;
  margin-right: 60px;
}
main .item-3 p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
main .item-3 .tabulacion {
  text-indent: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 15px;
}
.flex-container div p {
  font-size: 1rem;
}
.flex-container div img {
  width: 450px;
  height: 300px;
}
.flex-container .flex-item-1 .item-4 img {
  box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  transition: 2s;
}
.flex-container .flex-item-1 .item-4 img:hover {
  transform: scale(1.5);
}
.flex-container .flex-item-2 .item-6 img {
  box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  transition: 2s;
}
.flex-container .flex-item-2 .item-6 img:hover {
  transform: scale(1.5);
}
.flex-container .flex-item-3 .item-8 img {
  box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  transition: 2s;
}
.flex-container .flex-item-3 .item-8 img:hover {
  transform: scale(1.5);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 15px 15px 15px;
}
footer div .logo {
  width: 100px;
  margin-top: 15px;
  margin-left: 10px;
  position: relative;
}
footer ul {
  display: flex;
}
footer ul li {
  list-style-type: none;
}
footer ul li a .logo-face {
  width: 35px;
  transition: 2s;
}
footer ul li a .logo-face:hover {
  transform: translateY(15px);
}
footer ul li a .logo-insta {
  width: 50px;
  transition: 2s;
}
footer ul li a .logo-insta:hover {
  transform: translateY(15px);
}

main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 350px 350px;
  column-gap: 15px;
  row-gap: 30px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
}
main section .item-13 {
  grid-column: 1/2;
  grid-row: 1/2;
}
main section .item-13 img {
  width: 450px;
  padding-top: 10px;
}
main section .item-14, main section .item-18, main section .item-16 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 10px;
  padding-top: 5px;
}
main section .item-14 p, main section .item-18 p, main section .item-16 p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
main section .item-14 p span, main section .item-18 p span, main section .item-16 p span {
  color: rgba(174, 66, 20, 0.367);
}
main section .item-14 .tabulacion, main section .item-18 .tabulacion, main section .item-16 .tabulacion {
  text-indent: 10px;
}
main section .item-15 {
  grid-column: 1/2;
  grid-row: 2/3;
}
main section .item-15 img {
  width: 450px;
  padding-top: 10px;
}
main section .item-16 {
  grid-column: 2/3;
  grid-row: 2/3;
}
main section .item-17 {
  grid-column: 1/2;
  grid-row: 3/4;
}
main section .item-17 img {
  width: 450px;
  padding-top: 10px;
}
main section .item-18 {
  grid-column: 2/3;
  grid-row: 3/4;
}

main .grid-container-proyectos {
  display: grid;
  grid-template-columns: 570px 600px;
  grid-template-rows: 1fr;
  column-gap: 150px;
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 100px;
}
main .grid-container-proyectos .item-19 {
  grid-column: 1/2;
  grid-row: 1/2;
}
main .grid-container-proyectos .item-19 .img-proyecto {
  width: 500px;
  padding-top: 10px;
}
main .grid-container-proyectos .item-20 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-top: 5px;
}
main .grid-container-proyectos .item-20 p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
main .grid-container-proyectos .item-20 p span {
  color: rgba(174, 66, 20, 0.367);
}
main .grid-container-proyectos .item-20 .tabulacion {
  text-indent: 10px;
}

main .grid-container-entrevista {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 600px 400px;
  row-gap: 5px;
  margin-top: 20px;
  margin-left: 15px;
}
main .grid-container-entrevista .item-21 {
  grid-row: 1/2;
  grid-column: 1/2;
}
main .grid-container-entrevista .item-21 .video {
  width: 800px;
  height: 500px;
  padding-top: 10px;
  margin-left: 320px;
  box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: -4px 5px 11px -2px rgba(0, 0, 0, 0.78);
}
main .grid-container-entrevista .item-22 {
  grid-row: 2/3;
  grid-column: 1/2;
}
main .grid-container-entrevista .item-22 p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: oblique;
}
main .grid-container-entrevista .item-22 .tabulacion {
  text-indent: 10px;
}

@media only screen and (max-width: 470px) {
  .grid-container {
    display: grid;
    grid-template-columns: 450px !important;
    grid-template-rows: 100px 300px 520px !important;
    margin: 10px;
  }
  .grid-container .item-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px;
  }
  .grid-container .item-2 img-nosotros {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 20px;
  }
  .grid-container .item-2 img-nosotros .img-nosotros {
    width: 100%;
  }
  .grid-container .item-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .grid-container-contacto {
    display: grid;
    grid-template-columns: 370px !important;
    grid-template-rows: 70px 420px 250px !important;
    margin-left: 0 !important;
  }
  .grid-container-contacto .item-10 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .grid-container-contacto .item-11 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 10px;
  }
  .grid-container-contacto .item-11 form input {
    padding: 0px 5px;
    width: 150px;
    height: 30px;
  }
  .grid-container-contacto .item-11 #comentarios {
    width: 250px;
    height: 70px;
  }
  .grid-container-contacto .item-12 {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 20px;
  }
  .grid-container-contacto .item-12 .map {
    width: 100%;
    height: 100%;
  }
  .grid-container-obras {
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: repeat(6, 400px);
    row-gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .grid-container-obras .item-13 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .grid-container-obras .item-14, .grid-container-obras main section .item-16, main section .grid-container-obras .item-16, .grid-container-obras main section .item-18, main section .grid-container-obras .item-18 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid-container-obras .item-15 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .grid-container-obras .item-16 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid-container-obras .item-17 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .grid-container-obras .item-18 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .grid-container-proyectos {
    display: grid !important;
    grid-template-columns: 450px !important;
    grid-template-rows: 400px 650px !important;
    row-gap: 15px;
    margin-top: 10px;
    margin-left: 10px !important;
  }
  .grid-container-proyectos .item-19 {
    grid-column: 1/2 !important;
    grid-row: 1/2 !important;
  }
  .grid-container-proyectos .item-19 .img-proyecto {
    width: 100% !important;
  }
  .grid-container-proyectos .item-20 {
    grid-column: 1/2 !important;
    grid-row: 2/3 !important;
  }
  .grid-container-entrevista {
    display: grid;
    grid-template-columns: 420px !important;
    grid-template-rows: 320px 800px !important;
    row-gap: 15px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .grid-container-entrevista .item-21 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid-container-entrevista .item-21 .video {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0 !important;
  }
  .grid-container-entrevista .item-22 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

/*# sourceMappingURL=style.css.map */
