header {
  background-color: rgb(255, 228, 196);
}
header nav {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header nav h1 {
  color: rgba(80, 9, 9, 0.314);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  display: inline;
  margin-left: 10px;
  padding: 5px;
}
header nav h1 span {
  font-weight: bold;
}
header nav ul li a {
  color: rgba(80, 9, 9, 0.314) !important;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
}

/* Propiedad general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

/* Google Fonts */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body {
  background-color: bisque;
}

.grid-container-contacto {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 100px 500px;
  gap: 25px;
}
.grid-container-contacto .item-10 h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-left: 170px;
  margin-top: 10px;
}
.grid-container-contacto .item-11 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-top: 0px;
  padding-left: 40px !important;
}
.grid-container-contacto .item-11 form label {
  color: rgba(80, 9, 9, 0.314);
}
.grid-container-contacto .item-11 .boton {
  padding: 5px;
  background-color: white;
  color: rgba(80, 9, 9, 0.314);
  font-family: "Roboto", sans-serif;
  font-family: 1em;
  border-radius: 5px;
  border: 1px solid rgba(80, 9, 9, 0.314);
  box-shadow: 0px 4px 0px rgba(80, 9, 9, 0.314);
}
.grid-container-contacto .item-11 .bordes-form {
  border-radius: 5px;
  border: 1px solid rgba(80, 9, 9, 0.314);
}
.grid-container-contacto .item-12 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-container-contacto .item-12 .map {
  width: 700px;
  padding-top: 30px;
}

main section .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 250px 250px;
  row-gap: 5px;
  column-gap: 15px;
  margin-top: 15px;
}
main section .item-1 {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-left: 170px;
}
main section .item-1 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: rgba(80, 9, 9, 0.314);
}
main section .item-2 {
  grid-column: 1/2;
  grid-row: 2/4;
  margin-left: 100px;
}
main section .item-2 img {
  width: 600px;
}
main section .item-3 {
  grid-column: 2/3;
  grid-row: 2/4;
  margin-right: 60px;
}
main section .item-3 p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
main section .item-3 p .tabulacion {
  text-indent: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-container div p {
  font-weight: bold;
  font-size: 1rem;
}
.flex-container div img {
  width: 450px;
  height: 300px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 15px 15px 15px;
}
footer div .logo {
  width: 100px;
  margin-top: 15px;
  margin-left: 10px;
  position: relative;
}
footer ul {
  display: flex;
}
footer ul li {
  list-style-type: none;
}
footer ul li a .logo-face {
  width: 35px;
}
footer ul li a .logo-insta {
  width: 50px;
}

main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 350px 350px;
  column-gap: 5px;
  row-gap: 50px;
  margin-left: 15px;
  margin-top: 20px;
}
main section .item-13 {
  grid-column: 1/2;
  grid-row: 1/2;
}
main section .item-13 img {
  width: 450px;
  padding-top: 10px;
}
main section .item-14 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 10px;
  padding-top: 5px;
}
main section .item-14 p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
main section .item-14 p span {
  color: rgba(80, 9, 9, 0.314);
}
main section .item-14 .tabulacion {
  text-indent: 10px;
}
main section .item-15 {
  grid-column: 1/2;
  grid-row: 2/3;
}
main section .item-15 img {
  width: 450px;
  padding-top: 10px;
}
main section .item-16 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 10px;
  padding-top: 5px;
}
main section .item-16 p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
main section .item-16 p span {
  color: rgba(80, 9, 9, 0.314);
}
main section .item-16 .tabulacion {
  text-indent: 10px;
}
main section .item-17 {
  grid-column: 1/2;
  grid-row: 3/4;
}
main section .item-17 img {
  width: 450px;
  padding-top: 10px;
}
main section .item-18 {
  grid-column: 2/3;
  grid-row: 3/4;
  padding-left: 10px;
  padding-top: 5px;
}
main section .item-18 p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
main section .item-18 p span {
  color: rgba(80, 9, 9, 0.314);
}
main section .item-18 .tabulacion {
  text-indent: 10px;
}

/*# sourceMappingURL=style.css.map */
