@mixin flexible ( $dis , $just , $align ) {
    display: $dis;
    justify-content: $just;
    align-items: $align;
}

.flex-container {
    @include flexible(flex,space-around,center);
    div {
        p{
            font-size: 1rem;
        }
        img{
            width: 450px;
            height: 300px;
        }
    }   
    margin: 0 15px;
}