@mixin flexible ( $dis , $just , $align ) {
    display: $dis;
    justify-content: $just;
    align-items: $align;
}

.flex-container {
    @include flexible(flex,space-around,center);
    div {
        p{
            font-size: 1rem;
        }
        img{
            width: 450px;
            height: 300px;
        }
    }   
    margin: 0 15px;
    .flex-item-1{
        .item-4{
            img{
                box-shadow: -4px 5px 11px -2px rgba(0,0,0,0.78);
                -webkit-box-shadow: -4px 5px 11px -2px rgba(0,0,0,0.78);
                -moz-box-shadow: -4px 5px 11px -2px rgba(0,0,0,0.78);
                transition: 2s;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
    }
    .flex-item-2{
        .item-6{
            img{
                box-shadow: -4px 5px 11px -2px rgba(0,0,0,0.78);
                -webkit-box-shadow: -4px 5px 11px -2px rgba(0,0,0,0.78);
                -moz-box-shadow: -4px 5px 11px -2px rgba(0,0,0,0.78);
                transition: 2s;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
    }
    .flex-item-3{
        .item-8{
            img{
                box-shadow: -4px 5px 11px -2px rgba(0,0,0,0.78);
                -webkit-box-shadow: -4px 5px 11px -2px rgba(0,0,0,0.78);
                -moz-box-shadow: -4px 5px 11px -2px rgba(0,0,0,0.78);
                transition: 2s;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
    }
}