@media only screen and (max-width: 470px) {

       .grid-container{
        display: grid;
        grid-template-columns: 450px !important;
        grid-template-rows: 100px 350px 670px !important;
        margin: 10px;
        .item-1{
            grid-column: 1/2;
            grid-row: 1/2;
            margin: 10px;
        }
        .item-2 img-nosotros{
            grid-column: 1/2;
            grid-row: 2/3;
            margin-left: 20px;
            .img-nosotros{
                width: 100%;
            }
        }
        .item-3{
            grid-column: 1/2;
            grid-row: 3/4;
        }  
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .grid-container-contacto {
        display: grid;
        grid-template-columns: 370px !important;
        grid-template-rows: 70px 420px 250px !important;
        margin-left: 0 !important;
     
        .item-10 {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .item-11 {
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 10px;
            form input{
                padding: 0px 5px;
                width: 150px;
                height: 30px;
            }
            #comentarios{
                width: 250px;
                height: 70px;
            }
        }
        .item-12 {
            grid-column: 1/2;
            grid-row: 3/4;
            margin: 20px;
            .map{
                width: 100%;
                height: 100%;
            }
        }
    }

    .grid-container-obras {
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: repeat(6, 400px);
        row-gap: 10px;
        margin-left: 10px;
        margin-top: 10px;
        .item-13 {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .item-14 {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item-15 {
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .item-16 {
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .item-17 {
            grid-column: 1/2;
            grid-row: 5/6;
        }
        .item-18 {
            grid-column: 1/2;
            grid-row: 6/7;
        }
    }

    .grid-container-proyectos {
        display: grid !important;
        grid-template-columns: 450px !important;
        grid-template-rows: 400px 650px !important;
        row-gap: 15px;
        margin-top: 10px;
        margin-left: 10px !important;
        .item-19 {
            grid-column: 1/2 !important;
            grid-row: 1/2 !important;
            .img-proyecto{
                width: 100% !important;
            }
        }
        .item-20 {
            grid-column: 1/2 !important; 
            grid-row: 2/3 !important;
        }
    }

   .grid-container-entrevista {
        display: grid;
        grid-template-columns: 420px !important;
        grid-template-rows: 320px 980px !important;
        row-gap: 15px;
        margin-top: 10px;
        margin-left: 10px;
        .item-21{
            grid-column: 1/2;
            grid-row: 2/3;
            .video{
                width: 100% !important;
                height: 100% !important;
                margin-left: 0 !important;
            }
        }
        .item-22 {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }
}